.sidebar {
  background: $color-primary;
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / -1;

  display: flex;
  justify-content: center;

  @media only screen and(max-width: $bp-large) {
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    justify-content: flex-end;
  }

  .nav-btn {
    margin-top: 4rem;
    border: none;
    border-radius: 0;

    background: #fff;
    height: 2px;
    width: 4.5rem;

    @media only screen and(max-width: $bp-large) {
      margin-top: 3rem;
      margin-right: 2rem;

      &::before {
        transform: translateY(-1.2rem);
      }

      &::after {
        transform: translateY(0);
      }
    }

    &::before,
    &::after {
      content: "";
      display: block;
      background: #fff;
      height: 2px;
      width: 4.5rem;
    }

    &::before {
      transform: translateY(-1.5rem);
    }

    &::after {
      transform: translateY(1.5rem);
    }
  }
}
